@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet");

*,html 
{
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a
{
    list-style: 80px;
    color: white;
    padding: 5px 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
a:hover
{
    color:sandybrown;
}
/* navbar style */
nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
}
nav.dark
{
    background-color: #645245;
    height: 50px;
    z-index: 2147483647;
    
}
nav .logo
{
 float: left;
 color: white;
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #9a4508;

    
 
}
nav ul
{
    float: right;
    margin: 0;
    padding-top: 10px;
    display: flex;
}
nav ul li
{
    list-style: none;
}
nav ul li a 
{
    list-style: 80px;
    color: white;
    padding: 5px 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
nav ul li a:hover
{
    color:sandybrown;
    cursor: pointer;
}
/* cover photo */
section.cover
{
    width: 100%;
    height: 100vh;
    background: url(image/atelier-img.jpeg);
    background-size: cover;
    background-position: center;

}
section.sec-3
{
    text-align: center;
}

.wrapper-1
{
    max-width: 1300px;
    background-color: white;
    margin: 15vh auto 20vh auto;
    line-height: 1.65;
    padding: 15px 150px;
    display: flex;
}
.sidebar-1
{
    flex: 1;
}
.sidebar-2
{
    flex: 1;
}
.sidebar-3
{
    flex:1;
}
.sidebar-4
{
    padding-left: 130px;
    flex: 1;
}
.span
{
    font-size: 2rem;
    font-weight: 500px;
    color: #9a4508;
}
.btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #645245;
  text-decoration: none;
}

.btn-get-started:hover {
  background: #fff;
  color: #645245;
}
/*
Footer
*/
#footer {
  background: #463836;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #645245;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #9a4508;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #9a4508;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #fff;
}

#footer .footer-top h4::after {
  background: #9a4508;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #9a4508;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #9a4508;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #9a4508;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}

/* Login page style */
.modal{
    display:none;
    position: fixed;
    margin: auto;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content
{  
    background-color: #f4f4f4;
    margin-top: 5%;
    margin-left: 45%;
    padding: 20px;
    width: 35%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),
                0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    background-color: rgba(0,0,0,0.5);
}

.modal-content h1
{
    text-align: center;
    float: left;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 8px 0;
    color: white;
}
.modal-content a
{
    margin-top: 10px;
    padding-top: 10px;
}
.modal-content a:hover
{
    color: #4f453a;
}
/*.modal-content h1::after
{
    position: absolute;
    left: 0;
    content: ""; /* This is necessary for the pseudo element to work. */ 
    /*display: block; /* This will put the pseudo element on its own line. */
   /* width: 25%; /* Change this to whatever width you want. */
    /*border-bottom: 6px solid #9a4508; /* This creates the border. Replace black with whatever color you want.
}
*/
.textbox
{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
}
.textbox i
{
    width: 20px;
    float: left;
    text-align: left;
    color: white;
    margin: 8px 0;
}
.textbox input
{
    border: none;
    outline: none;
    background: none;
    color: white;
    text-align: left;
}
.textbox input:hover,input:focus
{
    border: 1px solid white;
}
.textbox ::placeholder
{
    text-align: left;
    color: white;
    font-weight: 100;
}
#login
{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
@keyframes modalopen 
{
    from{opacity: 0}
    to {opacity: 1}
}


.or-container
{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    clear: both;
    color: white;
    font-variant: small-caps;
}

.or-hr
{
    margin-bottom: 0;
    position: relative;
    top: 19px;
    height: 0;
    border: 0;
    border-top: 1px solid #e4e6e8;
}

#or
{
    display: inline-block;
    position: relative;
    padding: 5px;
    background-color: #373839;
}
/*todo style which contains fullcalendar and additems*/
.todo
{
    display: flex;
    margin-top: 55px;

}
/* Fullcalendar style*/
.login-links h3
{
    color: white;
}
.FullCalendar
{
    flex: 1;
    width: 50%; 
    margin-left: 5%;
    margin-top: 3%;
}
 #calendar
{ 
   
    display: block;
}
.centered 
{
    text-align: center;
}
.alert-info 
{
    color: #fff;
    background-color: sandybrown;
    border-color: #bee5eb;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #600c1f;
}
/* additem style*/
.additems
{
    margin-left: 1.5%;
    margin-right: 5%;
    margin-top: 3%;
    text-align: left;
    padding-left: 15px;
    flex: 1; 
}
/* todo input group */
.todo-input-group
{
    margin-bottom: 3%;
}
/*todo list items style*/
.item-clearfix
{
    padding-top: 1%;
    margin-right: 10%;
    display: flex;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.item-description
{
    display: block;
    color: #4f453a;
    padding-left: 5%;
    flex: 5;
}
.edit-delete-item
{
    display: none;
    padding-left: 30%;
    padding-right: 2%;
    flex: 1;
}
.fa-pencil
{
    padding-right: 10px;
    color: #4f453a;
}
.fa-trash-o
{
    color: red;
}
.item-clearfix:hover  .edit-delete-item
{
    display: block;
}
.item-clearfix:hover
{
    background-color: #e9ebee;
}
.fa-pencil:hover
{
    cursor: pointer;
}
.fa-trash-o:hover
{
    cursor: pointer;
}




.item-description input[type="text"] {
  display: none;
    margin-bottom: 4px;
  font-size: 18px;
  line-height: 18px;
  height: 25px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 4px;
  font-family: Lato, sans-serif;
  color: #888;
}
.item-description input[type="text"]:focus {
  color: #333;
}

.item-description label {
  overflow-wrap: break-word;
  font-size: 18px;
  line-height: 40px;
  width: 270px;
  padding: 0 0 0 11px;
}